.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

.concert-elt {
  box-shadow: 2px 2px 2px 0 grey;
  margin: 20px auto;
  width: 400px;

}

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

.display-none {
  display: none;
}

.update-btn{
  background-color:'#34DCED';
}

